<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
</head>
<body>

<h3>Please confirm your Account Detail</h3>

<form action="" method="post">
    <table>
    <tr>
        <td>First Name</td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{age}}</td>
    </tr>
    <tr>
        <td>Address1</td>
        <td>{{address}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{city}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{state}}</td>
    </tr>
    <tr>
        <td>Pin Code</td>
        <td>{{pinCode}}</td>
    </tr>


</table>


    <button type="submit" value="Submit">Confirm</button>
    <button type="submit" onclick="javascript:window.location='UserCreation';">Cancel</button>

</form>


</body>
</html>